/* Whole component */

.home-page {
  gap: 60px;
}

.content {
  min-height: 100vh;
  flex: 0 1 50%;
  padding: 30px 0px;
}

/* Main Content */

.main-content {
  position: relative;
}

.main-content:before {
  content: "";
  position: absolute;
  background: #e4753270;
  width: 263px;
  aspect-ratio: 1;
  left: 0px;
  top: 40%;
  filter: blur(150px);
  -webkit-filter: blur(150px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-content:after {
  content: "";
  position: absolute;
  background: #e4dd3260;
  width: 263px;
  aspect-ratio: 1;
  left: 350px;
  top: 7%;
  filter: blur(120px);
  -webkit-filter: blur(120px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Header */

.header {
  margin-bottom: 60px;
}

.header__container {
  justify-content: space-between;
  align-items: center;
}

.navgation__list {
  gap: 40px;
}

.list__item-link {
  font-size: 1rem;
  font-weight: 700;
}

/* Hero section */

.hero-section {
  margin-bottom: 67px;
}

.hero-section__title {
  margin-bottom: 30px;
}

.hero-section__title--gap {
  gap: 10px;
}

.title-word__icon {
  gap: 60px;
  align-items: center;
}

.title-word {
  font-size: 5.625rem;
  font-weight: 700;
}

.hero-section__description--gap {
  gap: 60px;
}

.hero-section__description-text {
  max-width: 340px;
  font-size: 1.313rem;
  line-height: 1.75rem;
}

/* Wall with pictures */

.wall {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  flex: 0 1 50%;
  justify-content: flex-end;
  gap: 30px;
}

.wall-up,
.wall-down {
  gap: 30px;
}

.wall-up {
  animation: scroll-up 20s -19s linear infinite;
  -webkit-animation: scroll-up 20s -19s linear infinite;
}
.wall-down {
  animation: scroll-down 20s -19s linear infinite;
  -webkit-animation: scroll-down 20s -19s linear infinite;
}

@keyframes scroll-up {
  100% {
    transform: translateY(-2150px);
    -webkit-transform: translateY(-2150px);
    -moz-transform: translateY(-2150px);
    -ms-transform: translateY(-2150px);
    -o-transform: translateY(-2150px);
  }
}
@keyframes scroll-down {
  0% {
    transform: translateY(calc(-2150px));
    -webkit-transform: translateY(calc(-2150px));
    -moz-transform: translateY(calc(-2150px));
    -ms-transform: translateY(calc(-2150px));
    -o-transform: translateY(calc(-2150px));
  }
  100% {
    transform: translateY(calc(0));
    -webkit-transform: translateY(calc(0));
    -moz-transform: translateY(calc(0));
    -ms-transform: translateY(calc(0));
    -o-transform: translateY(calc(0));
  }
}
