/* Whole component */

.home-page {
  gap: 60px;
}

.content {
  min-height: 100vh;
  flex: 0 1 50%;
  padding: 30px 0px;
}

/* Header */

.header {
  margin-bottom: 60px;
}

.header__container {
  justify-content: space-between;
  align-items: center;
}

.navgation__list {
  gap: 40px;
}

.list__item-link {
  font-size: 1rem;
  font-weight: 700;
}

/* Hero section */

.hero-section {
  margin-bottom: 67px;
}

.hero-section__title {
  margin-bottom: 30px;
}

.hero-section__title--gap {
  gap: 10px;
}

.title-word__icon {
  gap: 60px;
  align-items: center;
}

.title-word {
  font-size: 5.625rem;
  font-weight: 700;
}

.hero-section__description--gap {
  gap: 60px;
}

.hero-section__description-text {
  max-width: 340px;
  font-size: 1.313rem;
  line-height: 1.75rem;
}

/* Wall with pictures */

.wall {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  flex: 0 1 50%;
  justify-content: flex-end;
  gap: 30px;
}

.wall-up,
.wall-down {
  gap: 30px;
}

.wall-up {
  animation: scroll-up 20s -4s linear infinite;
  -webkit-animation: scroll-up 20s -4s linear infinite;
}
.wall-down {
  animation: scroll-down 20s -19s linear infinite;
  -webkit-animation: scroll-down 20s -19s linear infinite;
}

@keyframes scroll-up {
  100% {
    transform: translateY(-2450px);
    -webkit-transform: translateY(-2450px);
    -moz-transform: translateY(-2450px);
    -ms-transform: translateY(-2450px);
    -o-transform: translateY(-2450px);
  }
}
@keyframes scroll-down {
  0% {
    transform: translateY(calc(-2450px));
    -webkit-transform: translateY(calc(-2450px));
    -moz-transform: translateY(calc(-2450px));
    -ms-transform: translateY(calc(-2450px));
    -o-transform: translateY(calc(-2450px));
  }
  100% {
    transform: translateY(calc(0));
    -webkit-transform: translateY(calc(0));
    -moz-transform: translateY(calc(0));
    -ms-transform: translateY(calc(0));
    -o-transform: translateY(calc(0));
  }
}
