.wall__item {
  min-height: 460px;
  max-height: 460px;
  padding: 20px 20px 0px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.wall__item:last-child {
  margin-bottom: 0;
}

.wall_item-text {
  color: #fff;
  font-size: 1.313rem;
  font-weight: 700;
  margin-bottom: auto;
}

.wall__item-left:nth-child(1) {
  background: #d24f30;
}
.wall__item-left:nth-child(2) {
  background: #9a90fc;
}
.wall__item-left:nth-child(3) {
  background: #d2304d;
}
.wall__item-left:nth-child(4) {
  background: #3084d2;
}
.wall__item-left:nth-child(5) {
  background: #eb9e6e;
}
.wall__item-left:nth-child(6) {
  background: #d24f30;
}
.wall__item-left:nth-child(7) {
  background: #9a90fc;
}

.wall__item-right:nth-child(1) {
  background: #30b5d2;
}
.wall__item-right:nth-child(2) {
  background: #eb9e6e;
}
.wall__item-right:nth-child(3) {
  background: #e6909e;
}
.wall__item-right:nth-child(4) {
  background: #4498e6;
}
.wall__item-right:nth-child(5) {
  background: #d24f30;
}
.wall__item-right:nth-child(6) {
  background: #30b5d2;
}
.wall__item-right:nth-child(7) {
  background: #eb9e6e;
}
